* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: arial black;
}
.meals {
  width: 100%
}

/* box is the layout of each menu item */
.box {
  position: relative;
  padding: 40px 20px 10px;
  border: 1px solid black;
  background-color: gray;
    text-align: justify;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
    
 .Chicken, .Beef, .Sushi {
    position: absolute;
    top: 0px;
    right: 0px;
text-align: center;
padding: 5px 20px;
font-weight: bold;
font-family: arial black;
border: 1px solid black;
font-size: 12pt;
width: 144px;  
  }

 .Chicken {
  background-color: #D59898;
 }
 .Beef {
  background-color: #A52A2A;
 }
 .Sushi {
  background-color: #F0E68C; /* khaki */
 } 

/* For Desktop Screen */
@media (min-width: 992px) {
        .row1, .row2, .row3 {
              width: 33%;
              float: left;
     }
  }

  /* For tablet screen */
  @media (min-width: 768px) and (max-width: 991px) {
  .row1, .row2, .row3 {
          float: left;
  }
    .row1, .row2 {
        width: 50%;
    }
  
  }
}

